# Pandas Review using a Pokemon Dataset

In [12]:
import pandas as pd


df = pd.read_csv('https://gist.githubusercontent.com/armgilles/\
194bcff35001e7eb53a2a8b441e8b2c6/raw/92200bc0a673d5ce2110aaad4544ed6c4010f687/pokemon.csv')
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

### Practice Exercises

#### 1. Obtain the following information:
    
    - dimensions
    - dtypes
    - column names
    - summary statistics

In [6]:
df.columns
df.dtypes
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

#### 2. Change all the column names
      - lowercase letters
      - remove whitespace
      - remove periods

In [26]:
# for i in len(df.columns.values):
#     df.columns.values[i] = df.columns.values[i].lower()


df. columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','')

df.columns = df.columns.str.replace('.','')
df

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_6163/3373422175.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df.columns = df.columns.str.replace('.','')

,#,name,type1,type2,total,hp,attack,defense,spatk,spdef,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

#### 3. What is the highest HP value present?

In [27]:
df.hp.max()

255

#### 4. Which Pokemon possess(es) the highest HP value?
- note: the `name` column is the pokemon name

In [30]:
the_answer = df[df.hp.max() == df.hp]
the_answer.name

261    Blissey
Name: name, dtype: object

#### 5. How many different types are represented in Type 1? What are they?

In [52]:
import numpy as np

the_index = df.groupby('type1').agg('min').index

the_index = np.array(the_index)
len(the_index)
# 18 rows 11 columns

# there are 18 different types in type1

/var/folders/9q/9mllqnsn2vq07btq58zw9zzc0000gn/T/ipykernel_6163/1521420794.py:3: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  the_index = df.groupby('type1').agg('min').index

18

#### 6. Number of Pokemon whose Type 2 is Ghost

In [63]:
the_answer = df[df.type2 == 'Ghost']
len(the_answer) #14
the_answer.shape # 14, 13
the_answer.count() #14 series

#             14
name          14
type1         14
type2         14
total         14
hp            14
attack        14
defense       14
spatk         14
spdef         14
speed         14
generation    14
legendary     14
dtype: int64

#### 7. Percentage of Pokemon whose Type 2 is Ghost

In [80]:
total_ghost_type2 = len(the_answer)
total_pokemon = len(df)

print((total_ghost_type2  * 100) / total_pokemon,'Percent')

1.75 Percent

#### 8. Number of Pokemon whose Attack is greater than Defense

In [90]:
mask = df.attack > df.defense

df[mask].describe() ## 433
df[mask].shape ## 433

(433, 13)

#### 9. What is the slowest speed for Grass type (either type 1 or type 2)

In [114]:
grass_1  = df[df['type1'] == 'Grass']

grass_2 = df[(df['type2'] == 'Grass')]

print(grass_2[grass_2.speed == grass_2.speed.min()][['name','speed']])

print(grass_1[grass_1.speed == grass_1.speed.min()][['name','speed']])

## ferroseed from grass1 has the slowest speed 10

       name  speed
377  Lileep     23
          name  speed
658  Ferroseed     10

#### 10. Find the average speed by Generation

In [138]:
the_answer = df.groupby('generation').agg('mean')
the_answer.speed.round(1)

generation
1    72.6
2    61.8
3    66.9
4    71.3
5    68.1
6    66.4
Name: speed, dtype: float64

#### 11. How many LEGENDARY Pokemon are DRAGON type?

In [141]:
answer11 = df[df.legendary == True]

print(len(answer11))

answer11_type1 = answer11[(answer11['type1'] == 'Dragon')]

answer11_type2 = answer11[(answer11['type2'] == 'Dragon')]

total = len(answer11_type1) + len(answer11_type2)
answer11.count() #16

answer11.shape ##16

print(total)

65
16